body {
	height: 100vh;
}

.browser {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	resize: both;
	overflow: auto;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}
